html { /*full page background styles*/
	background-color: #000000;
   	padding: 0;
	height: 100%;
	background-image: url("images/logo.jpg");
    	background-repeat: repeat;
	margin: auto;
}
/*title styles*/
header{
	margin: 10;
	padding: 0;
	padding-left: 20px;
	color: #ffb85b;
}

/*text styling*/
h1{
	margin:15;
	font-size:26px;
}

h2{
	margin:-5;
	font-size:20px;
}

body h1{
	margin-left:-15px;
	padding-left:0;
	padding-left:10px;
	font-size:26px;
}

body p{
	font-size:16px;
	font-weight: normal;
	padding:5px;
}

/*navigation menu styles*/
nav{
	margin: 0;
	padding: 0;
	line-height: 3em;
	background-color: #ff0000;
	position: -webkit-sticky;
	position: sticky;
}
nav ul{
	list-style-type: none;
	display: inline
}

nav li{
	display: inline;
	margin-left: 10px;
	padding:16px;
}

/*image styles(at the side and in line with text respectivly*/
img {
    border-radius: 20%;
	margin: 20px;
	float: right;
}

body{
	position: relative;
	font-family: arial;
	color: white; 
	font-size: 16px;
	width: 50%;
	margin: auto;
}

section{
	position: relative;
	padding: 35px;
	font-size: 16px;
	width: 100%;
	margin: 0px;
	background-color: #3d3c3c;
	box-sizing: border-box;
}

article {
	width: 100%;
}

footer{
	//border-top: 2px solid #930000;
	position: static;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	float: left;
	background-color: #ff0000;
	width: 100%;
	padding: 10px;
	height: auto%;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
} 

#asideLeft{
	width: 20%;
	float: left;
	position: fixed;
	top: 100px;
	left: 50px;
	color: #000000;
	background-color: #ffffff;
}

#asideRight{
	width: 20%;
	float: right;
	position: fixed;
	top: 100px;
	right: 50px;
	color: #000000;
	background-color: #ffffff;
}
